<p>Hi {{fullname}},</p>
<p>Your {{nameProduct}} product has expired please set it's status or delete</p>
<p>
    <a href="{{url}}">Confirm your email</a>
</p>
<p>If you did not request this email you can safely ignore it.</p>